.section2 {
    display: flex;
    
    background-color: #F5F5F5;
    width: 1500px;
    height: 1446px;
    margin-top: 130px;
    border: 1px solid;
}


.section2-headline-content {
    display: flex;
    flex-direction: column;
    
    margin-left: 30%; /* не знаю как еще с помощью флексов выравнить блок по середине*/
    /* из за отступа маржин выше смещаются блоки погружение и тд */
}

.section2-headline {

font-family: 'Jost';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 116.9%;
letter-spacing: 0.03em;
color: #000000;

}

/* .section2-headline-underline {

} */

.section2-block {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    
    
}


.block-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border: 1px solid;
}

.block-headline {


font-family: 'Jost';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 112.4%;
letter-spacing: 0.05em;
color: #000000;
}

.block-description {
font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 124.9%;
text-align: center;
letter-spacing: 0.05em;
color: #000000;
}