
.section2-headline-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-color: #F5F5F5;
    
    
}

.section2-headline {

font-family: 'Jost';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 116.9%;
letter-spacing: 0.03em;
color: #000000;

}




.section2 {
    display: flex;
    flex-wrap: wrap;
    background-color: #F5F5F5;
    width: 100%;
    padding-bottom: 5%;
    
}



.section2-block {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-direction: column;
    margin-top: 6%;
}


.section2-block-image-image {
    width: 100px;
    height: 100px;
}

.section2-block-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section2-block-headline {
font-family: 'Jost';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 112.4%;
letter-spacing: 0.05em;
color: #000000;
}

.section2-block-description {
font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 124.9%;
text-align: center;
letter-spacing: 0.05em;
color: #000000;
}

.section3-headline-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    margin-bottom: 6%;
    
}

.section3 {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding-bottom: 5%;
    
}

.section3-block {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.section3-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}

.section3-block-info {
position: absolute; /* помогает двигать элемент внутри флекс блока или другого */
}

/* вместо margin делать padding, не задавать width у главных контейнеров 
по фигме не нужно все величины соблюдать
когда я делаю блок флексом то почти никогда не нужны марджины тк флекс делаем правильное выравнивание
margin 0 auto ------ нужен чтобы выравнить по середине что угодно


*/