
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

:root {
  --bg: #fff;
  --text: #314b6b;
  --gray: #4d5974;
  --lightgray: #e5e5e5;
  --blue: #2f79ce;
}

/* body {
  font-family: "Poppins", sans-serif;
  background: var(--bg);
  color: var(--gray);
  min-height: 100vh;
} */

.container-faq {
  margin: 0 auto;
  padding: 4rem;
  width: 48rem;
}

.accordion {
margin-top: 20px;
width: 100%;
display: flex;
flex-direction: column;
}


.accordion .accordion-item {
  border-bottom: 1px solid var(--lightgray);
}

.accordion .accordion-item button[aria-expanded="true"] {
  border-bottom: 1px solid var(--blue);
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: var(--text);
  font-size: 1.1rem;
  font-weight: 400;
  border: none;
  outline: none;
  background: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: var(--blue);
}


.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion .accordion-item button[aria-expanded="true"] {
  color: var(--blue);
}

.accordion .accordion-item button[aria-expanded="true"] .icon::after {
  width: 0;
}
/*Здесь было указано max-height:9em Такое указывать никогда не стоит, ибо уже при адаптиве текст просто залазил на другой блок, ему не хватало высоты, либо если бы мы поменяли текст на бОльший текст, то ему тоже бы не хватило высоты, поэтому ставим 100%*/
.accordion .accordion-item button[aria-expanded="true"] + .content {
  opacity: 1;
  max-height: 100%;
  transition: all 200ms linear;
}

.content {
  opacity: 0;
  max-height: 0;
  transition: opacity 200ms linear, max-height 200ms linear;
}

/* .content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 1em 0;
} */



