.header {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  /* делает возможным перенос блоков если не умещаются на экране*/
  margin-top: 21px;
}

.header-top-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 90px;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}


.header-menu {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  align-items: center;


  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 106.4%;
  letter-spacing: 0.05em;
  color: #000000;

}


/* меняю жирность наведения на ссылку в шапке */
#bold-link {
  font-weight: normal; /* нормальный вес текста ссылки */
  transition: all 0.2s ease; /* добавление анимации изменения всех свойств */
}

#bold-link:hover {
  color: #4E9FFF;
}

.header-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;



}

/* .social-icon {
  width: 25px;
  height: 25px;
  margin-left: 26px;
  /* таким образом сделал отступ между иконками, но думаю есть лучше способ */


.social-icon-header-vk {
  width: 40px;
  height: 40px;
  background-image: url('../icons/vk-icon.svg');
  background-size: 100%;
  transition: all 0.2s ease;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  
}

.social-icon-header-vk:hover {
  background-image: url('../icons/vk-icon-hover.svg');
}

.social-icon-header-tg {
  width: 40px;
  height: 40px;
  background-image: url('../icons/tg-icon.svg');
  background-size: 100%;
  transition: all 0.2s ease;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
}

.social-icon-header-tg:hover {
  background-image: url('../icons/tg-icon-hover.svg');
}


.social-icon-header-youtube {
  width: 40px;
  height: 40px;
  background-image: url('../icons/youtube-icon.svg');
  background-size: 100%;
  transition: all 0.2s ease;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
}

.social-icon-header-youtube:hover {
  background-image: url('../icons/youtube-icon-hover.svg');
}

.header-headline {

  font-weight: 700;
  font-size: 60px;
}

.header-headline span {
  color: #4E9FFF;
}

.header-middle-content {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 70px;


}

.header-left-content {

  display: flex;
  flex-flow: column;
  /* это свойство позволяет сделать блоки внутри этого контейнера друг под другом */



}

.header-headline {
  font-family: Jost;
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0.03em;
  text-align: left;


  font-family: Jost;
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0.03em;
  text-align: left;

}

.header-info {
  margin-top: 38.60px;
  margin-bottom: 41.28px;
  font-family: Jost;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.05em;
  text-align: left;

}

.button-and-arrow {
  display: flex;
}

.header-button-section {
  width: fit-content;
}

.button-start {
  width: 167.5px;
  height: 63.85px;
  background: url(../images/header/start-button.svg) no-repeat center center;
  background-size: auto;
  background-size: cover;
  cursor: pointer;
}

.button-start:hover {
  width: 167.5px;
  height: 63.85px;
  background: url(../images/header/start-button-active.svg) no-repeat center center;
  background-size: auto;
  background-size: cover;
  cursor: pointer;

}

.header-arrow {
  width: 139.94px;
  height: 91.33px;
  margin-left: 64.26px;
}

.header-right-content {

  display: flex;


}

.header-students {
  width: 652.71px;
  height: 494.19px;
}

