body {
  font-family: 'Jost', sans-serif;
}

.header {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  width: 100%;
  /* делает возможным перенос блоков если не умещаются на экране*/
  margin-top: 20.57px;
  margin-left: 20.98px;
}

.header-top-content {
  display: flex;
  justify-content: center;
  
  height: 90px;


}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-right: 136.19px;
  width: 199.08px;
  height: 73.19px;
}


.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 670px;
  
  font-weight: 400;
  font-size: 16px;

  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 106.4%;
  letter-spacing: 0.05em;
  color: #000000;

}

.header-social {
  display: flex;
  justify-content: center ;
  align-items: center;
  margin-left: 100px;
  padding: 0px;
  width: 200px;
  
  
}

.social-icon {
  width: 25px;
  height: 25px;
  margin-left: 26px; /* таким образом сделал отступ между иконками, но думаю есть лучше способ*/
  
}

.header-headline {

  font-weight: 700;
  font-size: 60px;
}

.header-headline span {
  color: #4E9FFF;
}

.header-middle-content {
  display: flex;
  margin-top: 70px; /* пока на глаз, нужно сначала сделать ресет */


}

.header-left-content {

  display: flex;
  flex-flow: column; /* это свойство позволяет сделать блоки внутри этого контейнера друг под другом */
  margin-right: 93.40px;
}

.header-headline {
  font-family: Jost;
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0.03em;
  text-align: left;
  
  
  font-family: Jost;
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0.03em;
  text-align: left;
  
}

.header-info {
margin-top: 38.60px;
margin-bottom: 41.28px;
font-family: Jost;
font-size: 24px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0.05em;
text-align: left;

}

.button-and-arrow {
  display: flex;
}

.header-button-section {

}

.button-start {
  width: 167.5px;
  height: 63.85px;
}

.header-arrow {
  width: 139.94px;
  height: 91.33px;
  margin-left: 64.26px;
}

.header-right-content {

  display: flex;
  width: 942.02px;

}

.header-students {
  width: 652.71px;
  height: 494.19px;
}

/* стили по мелочам */ 

a {
  text-decoration: none;
}

